.article-title{
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: blue;
    padding-left: 8px;

}

.article-list .article-title{
    font-weight: 900;
    font-size: 22px;
}

article.article.article-type-post{
    border: 2px solid rgb(226, 226, 226);
    padding: 20px;
    margin: 30px 0;
    border-radius:10px

}

.article.article-type-post:hover{
    border: 2px solid rgb(134, 141, 240);
}

